body {
    font-family: '나눔고딕', 'NanumGothic', '맑은고딕', malgun gothic, 'Apple SD Gothic Neo', Helvetica, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 900px;
    max-width: 1200px;
    height: 52px;
    margin: 0 auto;
}
header h1 {
    float: left;
    padding-top: 30px;
}
header h1 a.sp {
    display: block;
    width: 182px;
    height: 22px;
    background-position: 0 0;
}
header .gnb {
    float: right;
    padding-top: 30px;
    margin-right: 112px;
}
header .gnb .depth1 {
    float: left;
}
header .gnb .depth1:not(:last-child) {
    margin-right: 85px;
}
header .gnb .depth1 a {
    color: #00ff00;
    font-size: 14px;
}
header .gnb .depth2 {
    display: none;
}